@import 'tailwindcss';
@plugin "daisyui";

:root:has(input.theme-controller[value=dark]:checked) .cm-mermaid {
  filter: invert(1);
}

.cm-content .cm-renderBlock p {
  img[alt$='#100'] { width: 100%; }
  img[alt$='#75'] { width: 75%; }
  img[alt$='#67'] { width: 67%; }
  img[alt$='#50'] { width: 50%; }
  img[alt$='#33'] { width: 33%; }
  img[alt$='#25'] { width: 25%; }
  img[alt$='#10'] { width: 10%; }
}

.cm-content .cm-renderBlock blockquote {
  border-left: 0.25rem solid lightgray;
  padding: 0.25rem 0.5rem;
  margin: 0 0 0 0.25rem;
  display: flex;

  & p {
    font-style: italic;
    font-weight: 500;
  }

  & code {
    background: whitesmoke;
    padding: 2px 4px;
    font-family:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
      monospace;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: normal;
  }
}

.cm-content .cm-renderBlock table {
  min-width: max(40rem, 100%);
  text-align: left;
  border-collapse: collapse;
  border-radius: 0.25rem;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.12),
    0 3px 10px rgba(0, 0, 0, 0.08);

  & thead {
    border-block-end: 1px solid whitesmoke;
  }

  & tfoot {
    border-block: 2px solid;
  }

  & tr:hover {
    background: whitesmoke;
  }

  & th {
    min-width: 8rem;
  }

  & th,
  & td {
    padding: 0.5rem 0.75rem;
    border-right: 1px solid whitesmoke;
  }
}

.cm-content .cm-bullet * {
  display: none;
}

.cm-content .cm-bullet::after {
  display: inline !important;
  color: darkgray;
  margin: 0 0.25rem 0 0.25rem;
  content: '•';
}

.cm-content .cm-line.cm-codeblock {
  background-color: rgba(0, 0, 10, 0.1);
  padding: 0 0.5rem;
  margin: 0 0.25rem;

  &.cm-codeblock-open {
    border-radius: 0.25rem 0.25rem 0 0;
    padding-top: 0.5rem;
  }

  &.cm-codeblock-close {
    border-radius: 0 0 0.25rem 0.25rem;
    padding-bottom: 0.5rem;
  }
}

.cm-content .cm-line .cm-code {
  background-color: rgba(0, 0, 10, 0.1);
  padding: 0.25rem 0;

  &.cm-code-open {
    border-radius: 0.25rem 0 0 0.25rem;
    padding-left: 0.25rem;
  }

  &.cm-code-close {
    border-radius: 0 0.25rem 0.25rem 0;
    padding-right: 0.25rem;
  }
}